<!DOCTYPE html>
  <head>
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"> 
  </head>
  <body>
      <header>
          <div class="top-header">
              <div class="logo">
                <img src="/images/logo-mercado-liebre.svg"  alt="logo de MercadoLiebre">
              </div>
              <div class="form" action="#" method="GET">
                <input type="text" placeholder="¿Qué necesita tu mascota?">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
          </div>
          <nav class="list">
              <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
              <ul>
                <li><a href="/register">Créa tu cuenta</a><i class="fa-solid fa-user"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
              </ul>
          </nav>
      <div class="burger-menu">
          <i class="fas fa-bars"></i>
      </div>
     </header>
     <main class="login">
           <form action="/" method="get">
              <div><input type="text" name="usuario" placeholder="Nombre de usuario" minlength="3"></div>
              <div><input type="password" name="password" id="password" placeholder="Elegi tu contraseña"></div>
              <div class="button"><input type="submit" value="Enviar"></div>
          </form> 
     </main>
     <footer>
      <section>
        <div>
          <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
          <div class="footer-title">Paga con tarjeta o en efectivo</div>
          <div class="footer-text">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        </div>
        <div>
          <div class="icon"><i class="fa-solid fa-basket-shopping"></i></div>
          <div class="footer-title">Envio gratis desde $ 2.500</div>
          <div class="footer-text">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</div>
        </div>
        <div>
          <div class="icon"><i class="fa-solid fa-shield-dog"></i></div>
          <div class="footer-title">Seguridad de principio a fin</div>
          <div class="footer-text">¿No te gusta?¡Devolvelo!En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</div>
        </div>  
      </section>  
      <p class="footer-text" style="padding: 30px;">Copyrigth c 1999 - 2022 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
